<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<!-- <link rel="stylesheet" type="text/css" href="../static/css/styles.css"> -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<div id='container'>

		<h1>Abstract Topic Classifier</h1>

		<p>Find out the general topic of a paper from its abstract!</p>

		<div class="abstract_input">

			<form action="{{ url_for('predict')}}" method="POST">
			<p>Enter Your Abstract Here:</p>
			<textarea name="message" rows="4" cols="50"></textarea>
			<br/>

			<input type="submit" class="btn-info" value="What's the topic?">
		
		</form>
		
		</div>

	</div>
	

</body>
</html>